html
    head
        title='Desafio Pug'
        style
            include styles.css
    body
        h1="Listado de productos"
        div
        for item in products
            div
                p=item.id
                p=item.title
                p=item.price
                img(class='productImage', src=item.thumbnail)
    a(href="http://localhost:8080/form")='Agregar un producto al stock'